@media (max-width: 1800px) {
  .sizing-card {
    height: 55%;
  }
}
@media (max-width: 1600px) {
  .body-sizing {
    width: 85%;
  }
}
@media (max-width: 1500px) {
  .body-sizing {
    width: 90%;
  }
}
@media (max-width: 1270px) {
  .property-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
  }
  .sizing-card {
    height: 28%;
  }
  .property-list li {
    height: 39rem;
  }
  .explore-cities-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .pic {
    height: 73%;
  }
  /* .sizing-card {
    height: auto;
} */
}
@media (max-width: 1050px) {
  .side-nav > button,
  .side-nav .register-sec {
    display: none;
  }
  .exploration-list label {
    padding: 11px 6px;
  }
}
@media (max-width: 980px) {
  .banner-size {
    margin-top: 13%;
  }

  .property-list li {
    height: 35rem;
  }
  .name-city {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .list-items > a {
    padding: 10px 0px;
  }
}
@media (max-width: 800px) {
  .body-sizing {
    width: 98%;
  }
  .property-list li {
    height: 31rem;
  }
  .pic {
    height: 66%;
  }
  .travel-destinatiom > div:nth-child(3) {
    height: 270px;
  }
  .travel-destinatiom > div:nth-child(4) {
    height: 270px;
  }
  .travel-destinatiom > div:nth-child(5) {
    height: 270px;
  }
}

@media (max-width: 750px) {
  .travel-destinatiom > div:nth-child(3) {
    height: 240px;
  }
  .travel-destinatiom > div:nth-child(4) {
    height: 240px;
  }
  .travel-destinatiom > div:nth-child(5) {
    height: 240px;
  }
  .travel-destinatiom > div:nth-child(1) {
    height: 245px;
  }
}
@media (max-width: 700px) {
  .property-list li {
    height: 28rem;
  }
  .list-of-things li {
    font-size: 0.6rem;
  }
  .top-body {
    height: 56vh;
  }
  .exploration-list label {
    padding: 11px 0px;
  }
  .exploration-list {
    gap: 1%;
  }
  .banner-size {
    margin-top: 13%;
  }
  .name-city {
    font-size: 0.8rem;
  }

  .properties {
    margin-top: 6rem;
    height: 66rem;
  }
  .question-type p {
    margin-top: 8px;
    padding-bottom: 25px;
    font-size: 0.7rem;
  }
  .question-type h3 {
    margin-top: 8px;
    font-size: 0.9rem;
  }
}
@media (max-width: 630px) {
  .heading-top {
    font-size: 2rem;
  }
  .para-top {
    font-size: 1.3rem;
  }
}
@media (max-width: 600px) {
  .property-list li {
    max-width: 100%;
  }
  .travel-destinatiom > div:nth-child(3) {
    height: 200px;
  }
  .travel-destinatiom > div:nth-child(4) {
    height: 200px;
  }
  .travel-destinatiom > div:nth-child(5) {
    height: 200px;
  }
  .search-btn {
    padding: 14px 8px;
  }
  .sizing-card {
    padding: 8px;
  }
  .detail-list h3 {
    font-size: 0.7rem;
  }
  .property-sell-card h3 {
    font-size: 0.9rem;
  }
  .detail-list li {
    /* list-style: none; */
    /* list-style: none; */
    /* padding-top: 10px; */
    font-size: 0.6rem;
  }

  .pricing-card {
    text-align: left;
    align-items: flex-start;
  }
  .list {
    flex-wrap: wrap;
  }
  .main-navbar {
    /* height: 19vh;
         */

    height: 27vh;
  }
  .exploration-list label {
    padding: 9px 5px;
    font-size: 0.7rem;
  }
  .cities-list-name li {
    font-size: 0.7rem;
  }
  .exploration-list {
    width: 100%;
  }
  .semi-rec > div > h4 {
    font-size: 1.1rem;
  }
  .semi-rec > div > button {
    font-size: 0.8rem;
  }
}

@media (max-width: 520px) {
  .pic {
    height: 61%;
  }
  .property-list li {
    height: 27rem;
  }
  .sizing-card {
    height: auto;
    gap: 6px;
  }
  .travel-destinatiom > div:nth-child(3) {
    height: 155px;
  }
  .travel-destinatiom > div:nth-child(4) {
    height: 155px;
  }
  .travel-destinatiom > div:nth-child(5) {
    height: 155px;
  }
  .travel-destinatiom > div:nth-child(1) {
    height: 212px;
  }
  .travel-destinatiom > span > img {
    width: 20px;
  }
  .semi-rec > div > h4 {
    font-size: 0.78rem;
  }
  .question-type img {
    width: 50px;
    height: 45px;
  }
  .question-type h3 {
    font-size: 0.8rem;
  }
  .question-type p {
    font-size: 0.6rem;
  }
  .question-type img {
    width: 50px;
    height: 45px;
  }

  .question-type h3 {
    margin-top: 8px;
    font-size: 0.8rem;
  }
  .detail-list li {
    /* list-style: none; */
    /* list-style: none; */
    /* padding-top: 10px; */
    font-size: 0.4rem;
  }
}
.detail-list h3 {
  font-size: 0.6rem;
}
.detail-list li {
  /* list-style: none; */
  /* list-style: none; */
  /* padding-top: 10px; */
  font-size: 0.6rem;
  padding-top: 5px;
}
@media (max-width: 450px) {
  .footer-size {
    padding-left: 1%;
  }
  .semi-rec > div > button {
    font-size: 0.6rem;
  }
  .question-type h3 {
    font-size: 0.7rem;
  }
  .question-type {
    padding-left: 6px;
    padding-top: 8px;
  }
  .question-type h3 {
    font-size: 0.6rem;
  }
  .question-type p {
    font-size: 0.5rem;
    padding-bottom: 10px;
  }
  .detail-list li {
    overflow-wrap: anywhere;
  }
  .hide {
    display: none;
  }
  .banner-size {
    margin-top: 18%;
  }
  .cities-list-name li {
    font-size: 0.6rem;
  }
  .exploration-list label {
    font-size: 0.6rem;
  }
}
@media (max-width: 400px) {
  .property-list {
    grid-template-columns: repeat(1, 1fr);
  }
  .banner-left {
    height: 9rem;
  }
  .copy-right div:nth-child(1) {
    font-size: .7rem;
  }
  .semi-rec {
    border-bottom-right-radius: 118px;
  }
  .detail {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .copy-right div:nth-child(2) {
    /* background: blue; */
    font-weight: 700;
    font-size: .7rem;
    color: #003b95;
}
  .semi-rec > div > button {
    font-size: 0.5rem;
    padding: 0px 17px;
    margin-top: 1rem;
  }
  .semi-rec > div > h4 {
    font-size: 0.65rem;
  }
  .top-body {
    height: 68vh;
  }
  .heading-top {
    font-size: 2rem;
    font-weight: 800;
  }
  .para-top {
    font-size: 1rem;
    margin-top: 2px;
  }
  .uppper-heading {
    margin-top: 1rem;
  }
  .search-bar {
    height: 10rem;
    width: 60%;
    bottom: 5.9rem;
    display: grid;
    grid-template-rows: repeat(4, 25%);
  }
  .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0%;
    z-index: 1;
  }
  .name-city {
    font-size: 0.6rem;
  }

  .properties {
    margin-top: 7rem;
    height: 100rem;
  }
  .property-list li {
    height: 21rem;
  }

  .main-nav-sec {
    grid-template-rows: 42% 51%;
  }
  .travel-destinatiom > div:nth-child(3) {
    height: 115px;
  }
  .travel-destinatiom > div:nth-child(4) {
    height: 115px;
  }
  .travel-destinatiom > div:nth-child(5) {
    height: 115px;
  }
  .travel-destinatiom > div:nth-child(1) {
    height: 160px;
  }
}
.deals {
  height: 8rem;
}
.deal-offer {
  gap: 5px;
}
.deal-heading {
  font-size: 1rem;
}
.deal-btn {
  /* width: 5rem; */
  height: 2rem;
}

.popular button {
  font-size: 0.7rem;
}
.cities-list-name li {
  font-size: 0.5rem;
}
.cities-list-name {
  gap: 2px;
  margin-top: 1rem;
}

.exploration-list {
  flex-wrap: wrap;
}
.exploration-list label {
  font-size: 0.6rem;
}
.list-item label {
  font-size: 0.8rem;
}
@media (max-width: 330px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
  .name-city {
    font-size: 0.5rem;
  }
  .copy-right div:nth-child(2) {
    justify-self: baseline;
  }
}
@media (max-width: 250px) {
    .banner-size {
        margin-top: 30%;
    }
}

