@media (max-width:1800px) {
  .sizing-card { height: 55%}
}
@media (max-width: 1600px) {
 .body-sizing {
    width: 85%;
 }
}
@media (max-width: 1500px) {
    .body-sizing {
        width: 90%;
    }
}
@media (max-width: 1270px) {
    .property-list  {
        grid-template-columns: repeat(2, 1fr);
        gap: 5%;
    }
    .sizing-card {
        height: 28%;
    }
    .property-list li {
  height: 39rem;
    
}
.explore-cities-list {
    grid-template-columns: repeat(3,1fr);
}
.pic {
    height: 73%;
}
/* .sizing-card {
    height: auto;
} */
}
@media (max-width:1050px) {
    .side-nav > button,   
    .side-nav .register-sec {  
        display: none;
    }
   .exploration-list label { padding: 11px 6px;
   }
}
@media (max-width: 980px) {
.banner-size {
    margin-top: 13%;
}

    .property-list li {
        height: 35rem;
    
}
.name-city {
        font-size: 1rem
}
}

@media (max-width:900px) {
    .list-items > a {
            padding: 10px 0px;
    }
}
@media (max-width: 800px) {
    .body-sizing {
        width: 98%;
    }
        .property-list li {
        height: 31rem;
    }
        .pic {
        height: 66%;
    }
    .travel-destinatiom > div:nth-child(3) {
            height: 270px;
    }
        .travel-destinatiom > div:nth-child(4) {
            height: 270px;
    }
        .travel-destinatiom > div:nth-child(5) {
            height: 270px;
    }
}

@media (max-width:750px) {
        .travel-destinatiom > div:nth-child(3) {
            height: 240px;

}
        .travel-destinatiom > div:nth-child(4) {
            height: 240px;
    }
        .travel-destinatiom > div:nth-child(5) {
            height: 240px;
    }
.travel-destinatiom > div:nth-child(1) {
 height: 245px;
}}
@media (max-width:700px) {
        .property-list li {
        height: 28rem;
    }
    .top-body {
        height: 56vh;
    }
        .exploration-list label {
        padding: 11px 0px;
        
    }
    .exploration-list {
     gap: 1%;
    }
}

@media (max-width: 600px) {
  .property-list li {
    max-width: 100%;
  }
     .travel-destinatiom > div:nth-child(3) {
        height: 200px;
    }
        .travel-destinatiom > div:nth-child(4) {
        height: 200px;
    }
        .travel-destinatiom > div:nth-child(5) {
        height: 200px;
    }
    .search-btn {
        padding: 14px 8px;
    }
  .sizing-card {
    padding: 8px;
  }
.detail-list h3 {
    font-size: .7rem;}
  .property-sell-card h3 {
    font-size: 0.9rem;
  }
  .detail-list li {
    /* list-style: none; */
    /* list-style: none; */
    /* padding-top: 10px; */
    font-size: 0.6rem;}

  .pricing-card {
    text-align: left;
    align-items: flex-start;
  }
    .list {
        flex-wrap: wrap;
    }
    .main-navbar {
        /* height: 19vh;
         */

        height: 27vh;        }
}

@media (max-width:520px) {
        .pic {
        height: 61%;
    }
        .property-list li {
        height: 27rem;
    }
      .sizing-card {
            height: auto;
        gap: 6px;
  }
       .travel-destinatiom > div:nth-child(3) {
        height: 155px
    }
        .travel-destinatiom > div:nth-child(4) {
        height: 155px
    }
        .travel-destinatiom > div:nth-child(5) {
        height: 155px
    }
    .travel-destinatiom > div:nth-child(1) {
         height: 212px;
}
.travel-destinatiom >span > img {
    width: 20px;
}
}
@media (max-width:450px) {

    .footer-size {
        padding-left: 1%;
    }
    .detail-list li {
        overflow-wrap: anywhere;
    }
        .hide {
        display: none;
    }
}
@media (max-width:400px) {
        .property-list {
        grid-template-columns: repeat(1, 1fr);}
    .list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 0%;
        z-index: 1;
    }
        .name-city {
        font-size: .6rem;
    }

    .main-nav-sec {
        grid-template-rows: 42% 51%;
    }
           .travel-destinatiom > div:nth-child(3) {
        height: 115px
    }
        .travel-destinatiom > div:nth-child(4) {
        height: 115px
    }
        .travel-destinatiom > div:nth-child(5) {
        height: 115px
    }
    .travel-destinatiom > div:nth-child(1) {
        height: 160px
}
}
.list-item label {
    font-size: .8rem;
}
@media (max-width:330px) {
    .list {
        grid-template-columns: repeat(2,1fr);
    }
        .name-city {
        font-size: .5rem;
    }

}
